.thirs-page-main{
    width: 100%;
    height: 130vh;
    background-color: #e9e7e7;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.thirs-page-main .third-page-information{
    padding: 20px;
    height: 80%;
    width: 100%;
}
.thirs-page-main .card-part .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
    height: 70%;
}

.thirs-page-main .card-part {
    margin: 30px;
}

.thirs-page-main .card-part .view-all{
    padding: 8px 16px;
    margin: 30px auto;    
}